body {
    font-family: helvetica, sans-serif;
}

.hero {
    background-image: url(../Images/pattern.jpg);/* I used "../" to go back out of the current folder to the resources folder >images >pattern.jpeg */
    background-color: blue;
    

}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

strong {
    color:blue;
}